@page "{id?}"
@using WebApp.Settings
@model WebApp.Pages.Account.UserProfileModel
@{
}

<h3>User Profile</h3>
<br />

<div class="container border" style="padding:20px;">
    <form class="p-1" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="UserProfile.Id" />
        <div class="form-group row pb-3">
            <div class="col-4">
                <label asp-for="UserProfile.FirstName"></label>
                <input class="form-control input-box input-md" type="text" asp-for="UserProfile.FirstName" autocomplete="off" />
                <span class="text-danger" asp-validation-for="UserProfile.FirstName"></span>
            </div>
            <div class="col-4 pl-2">
                <label asp-for="UserProfile.LastName"></label>
                <input class="form-control input-box input-md" type="text" asp-for="UserProfile.LastName" autocomplete="off" />
                <span class="text-danger" asp-validation-for="UserProfile.LastName"></span>
            </div>
            <div class="col-4 pl-2">
                <label asp-for="UserProfile.Email"></label>
                <input class="form-control input-box input-md" type="text" asp-for="UserProfile.Email" autocomplete="off" readonly/>
                <span class="text-danger" asp-validation-for="UserProfile.Email"></span>
            </div>
        </div>
        @if(User.IsInRole(SD.AdminRole))
        {
            <div class="form-group row pb-3">
                <div class="col-6">
                    <label asp-for="UserProfile.Department"></label>
                    <select asp-for="UserProfile.Department" class="form-select form-select-md">
                        <option value="IT">Information Technology</option>
                        <option value="HR">Human Resources</option>
                    </select>
                    <span class="text-danger" asp-validation-for="UserProfile.Department"></span>
                </div>
                <div class="col-6 pl-2">
                    <label asp-for="UserProfile.Position"></label>
                    <select asp-for="UserProfile.Position" class="form-select form-select-md">
                        <option value="Developer">Developer</option>
                        <option value="Manager">Manager</option>
                    </select>
                    <span class="text-danger" asp-validation-for="UserProfile.Position"></span>
                </div>
            </div>
            <div class="form-group row pb-3">
                <div class="col-12">
                    <label asp-for="UserProfile.Roles"></label>
                    @{
                        var existingRoles = !string.IsNullOrEmpty(Model.UserProfile.Roles) ? Model.UserProfile.Roles.Split(",") : new string[0];
                    }
                    <div class="btn-group d-flex align-items-center justify-content-center w-100" role="group" aria-label="Basic checkbox toggle button group">
                        @{
                            int i = 0;int length = Model.AppRoles.Count - 1;                            
                            foreach (var role in Model.AppRoles)
                            {
                                var me = i == length ? "" : "me-2";
                                <input id="@role" type="checkbox" class="btn-check" onchange="roleOnChange('@role')" checked="@existingRoles.Contains(role)" />
                                <label class="btn btn-outline-info @me" for="@role">@role</label>
                                i++;
                            }
                        }
                    </div>
                    <input type="hidden" asp-for="UserProfile.Roles" />
                    <span class="text-danger" asp-validation-for="UserProfile.Roles"></span>
                </div>
            </div>
        }
        else
        {
            <div class="form-group row pb-3">
                <div class="col-4">
                    <label asp-for="UserProfile.Department"></label>
                    <select asp-for="UserProfile.Department" class="form-select form-select-md">
                        <option value="IT">Information Technology</option>
                        <option value="HR">Human Resources</option>
                    </select>
                    <span class="text-danger" asp-validation-for="UserProfile.Department"></span>
                </div>
                <div class="col-4 pl-2">
                    <label asp-for="UserProfile.Position"></label>
                    <select asp-for="UserProfile.Position" class="form-select form-select-md">
                        <option value="Developer">Developer</option>
                        <option value="Manager">Manager</option>
                    </select>
                    <span class="text-danger" asp-validation-for="UserProfile.Position"></span>
                </div>
                <div class="col-4 pl-2">
                    <label asp-for="UserProfile.Roles"></label>
                    <input class="form-control input-box input-md" type="text" asp-for="UserProfile.Roles" autocomplete="off" readonly />
                    <span class="text-danger" asp-validation-for="UserProfile.Roles"></span>
                </div>
            </div>
        }
        <div class="form-group row">
            <div class="col-12 me-2 text-end">
                <a href="/Account/UserProfileList" class="btn btn-outline-secondary me-2">Cancel</a>
                <button type="submit" class="btn btn-primary" value="Save">Save</button>
            </div>
        </div>
    </form>
    @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
    {
        <div class="alert alert-success mt-4" role="alert">
            @Model.SuccessMessage
        </div>
    }
</div>

@section Scripts {
    <script>
        function roleOnChange(role) {
            let userRoles = $("#UserProfile_Roles").val() || "";
            let roles = userRoles.split(",") || [];
            const index = roles.indexOf(role);
            index !== -1 ? roles.splice(index, 1) : roles.push(role);
            if (!roles[0]) {
                roles.splice(0, 1);
            }
            roles = roles.join(',');
            $("#UserProfile_Roles").val(roles);
        }
    </script>
}